//- /views/page/essen/spezials.pug

extends ../../layout.pug

block content 
  section.page-left
    .container
      .intro-block
        h1 Drinks & aktionen | Halli Galli
        .text-center
          p Halli Galli