//- partials/404.pug

section.page-center
  .container
    .intro-block.text-center
      h1 ❌ Die Moiren haben diesen Pfad versiegelt. ❌
      p Der Lauf des Schicksals duldete diese Ort nicht - er ist verloren im Gewebe der Zeit.
      p Zwischen den Fäden der Realität und den Schatten der Illusionen verschwand diese Ort.
      p Kehre zurück ins Licht von 7th Heaven, wo die Wahrheit noch existiert.
      a.button.button1(href="/") Zurück zur Startseite

      img.image-click(src="/static/images/gallery/web/moiren.jpg", alt="404 - Moiren")