//- /views/page/kontakt/datenschutz.pug

extends ../../layout.pug

block content
  section.datenschutz.page-left
    .container
      .intro-block.text-center
        h1 Datenschutzerklärung
        p Wir im 7th Heaven nehmen Datenschutz ernst – schliesslich weiss niemand besser als wir, wie wichtig geheime Treffen sind. Wir möchten, dass du dich bei uns genauso sicher fühlst wie in der Bar, wenn die Turks mal wieder an dir vorbeilaufen.

      // 1. Erhebung & Verwendung
      h3 1. Erhebung und Verwendung von Daten
      p Wir sammeln nur Daten, die für den Bar- oder Websitebetrieb notwendig sind – nichts, was Shinra interessieren würde.
      ul.list-style-disc 
        li deinen Namen, falls du eine Runde anschreibst oder eine Reservierung machst
        li deinen Lieblingsdrink, damit wir ihn schneller bereitstellen können
        li gelegentliche Bar-Kamerabilder (nur für Sicherheit, gute Stimmung & Darts-Highscores)
        li technische Basisdaten wie IP-Adresse oder Browsertyp (keine Mako-Messsensoren, versprochen)
      
      p Alle Daten dienen ausschliesslich dazu, den Betrieb des 7th Heaven sicher und angenehm zu gestalten.

      // 2. Cookies & Materia
      h3 2. Cookies & Materia-Tracking
      p Unsere Website verwendet keine klassischen Cookies. Stattdessen arbeiten wir mit digitalen Materia-Fragmenten, die nur glitzern, wenn du zustimmst.
      ul.list-style-disc 
        li keine Weitergabe an Shinra-Server
        li keine Überwachung durch Reaktoren
        li kein Analyse-Tracking durch Präsident Shinra persönlich
        li keine heimlich installierten Turks-Beacons

      p Falls technisch notwendige Cookies eingesetzt werden müssen, informieren wir dich – ganz ohne Rauchgranaten.

      // 3. Weitergabe
      h3 3. Weitergabe von Informationen
      p Wir geben deine Daten grundsätzlich nicht weiter. Ausnahmen gelten nur:
      ul.list-style-disc 
        li wenn es gesetzlich vorgeschrieben ist
        li wenn Cloud deine Jacke, dein Schwert oder deine Sonnenbrille findet
        li wenn du uns ausdrücklich darum bittest
        li oder wenn Barret lautstark darauf besteht (nur scherzhaft!)

      p Keine sonstigen Übertragungen an Dritte, Konzerninstanzen oder zwielichtige Organisationen.

      // 4. Datensicherheit
      h3 4. Datensicherheit
      p Wir schützen deine Informationen so, wie Avalanche den Planeten schützt:
      ul.list-style-disc 
        li verschlüsselte Übertragung
        li sichere Server
        li eingeschränkter Zugriff
        li keine Speicherung in verlassenen Reaktor-Terminals

      p Wir tun alles dafür, dass deine Daten nicht in den Händen von Shinra oder in einem vergessenen Sektor enden.

      // 5. Kontakt
      h3 5. Kontakt
      p Für Datenschutzfragen, verlorene Gegenstände oder Beschwerden über zu starken Kaffee erreichst du uns jederzeit:
      p Telefon: #{contact.phone}
      p E-Mail: 
        a(href=`mailto:${contact.email.info}`)= contact.email.info
    

      // 6. Schlussbestimmung
      h3 6. Schlussbestimmung
      p Sollten wir diese Datenschutzerklärung anpassen, geschieht dies nur, um dich besser zu schützen – nicht, um geheime Mako-Experimente durchzuführen.

      p Bleib wachsam. Bleib sicher.

      .note.text-center
        p „Nicht alles, was glänzt, ist Mako – manchmal ist es einfach gute Datenschutzpraxis.“

