//- /views/page/kontakt/impressum.pug

extends ../../layout.pug

block content
  section.page-left
    .container
      .intro-block.text-center
        h1 Impressum
      
      h3 7th Heaven
      p Inhaberin: Tifa Lockhart
      p Adresse: Sektor 7 Slums, Midgar
      p Telefon: +00 07 77 HEAVEN
      p E-Mail: info@7thheaven-midgar.jp
      <br>
      h3 Verantwortlich für den Inhalt gemäss § 55 Abs. 2 RStV:
      p Tifa Lockhart (gleiche Anschrift)
      
      .note.text-center
        h3 Hinweis:
        p Das 7th Heaven ist eine fiktive Einrichtung im Stadtgebiet Midgar.
        p Alle Angaben dienen ausschliesslich Unterhaltungs- und Fan-Zwecken.
        p Keine Verbindung zu Shinra Electric Power Company AG – versprochen.