//- /views/pages/home.pug

extends ../layout.pug

block content
  section.hero
    img.hero-image(src="/static/images/gallery/location/7thheaven.png" alt="7th Heaven")
    .hero-overlay
      h1 7th Heaven Bar - Have&nbsp;a&nbsp;great&nbsp;day!
      p Drinks, Snacks & gute Gesellschaft – mitten in Sektor 7
      a.button.button1(href="/menu") Jetzt entdecken

  section.page-center
    .container
      .intro-block.text-center
        h2 Hallo und schön, dass du da bist!
        p Komm vorbei, entspann dich und geniesse unsere leckeren Drinks.
        p Triff Freunde, lerne neue Leute kennen oder starte einfach in einen entspannten Abend.
        p Die 7th Heaven Bar – dein Treffpunkt in Sektor 7!
      hr
      
      //- Slider
      +slider("slider-home")
